.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #000000;
    border-radius: 50%;
    border-top: 16px solid #00495b;
    border-left: 16px solid #00495b;
    border-bottom: 16px solid #00495b;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loaderInner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 180px;
    height: 180px;
    margin: -90px 0 0 -90px;
    border: 16px solid #000000;
    border-radius: 50%;
    border-top: 16px solid #0083a4;
    border-left: 16px solid #0083a4;
    border-bottom: 16px solid #0083a4;
    width: 150px;
    height: 150px;
    -webkit-animation: spinInner 2s linear infinite;
    animation: spinInner 2s linear infinite;
}

@-webkit-keyframes spinInner {
    0% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes spinInner {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.loaderInner1 {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 210px;
    height: 210px;
    margin: -105px 0 0 -105px;
    border: 16px solid #000000;
    border-radius: 50%;
    border-top: 16px solid #00b3db;
    border-right: 16px solid #00b3db;
    border-bottom: 16px solid #00b3db;
    width: 180px;
    height: 180px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}